@font-face {
    font-family: 'F37-Neue-Grotesque';
    src: url('/learn/static/learn/fonts/F37-Neue-Grotesque.eot');
    src: url('/learn/static/learn/fonts/F37-Neue-Grotesque.eot?#iefix') format('embedded-opentype'),
         url('/learn/static/learn/fonts/F37-Neue-Grotesque.woff2') format('woff2'),
         url('/learn/static/learn/fonts/F37-Neue-Grotesque.woff') format('woff'),
         url('/learn/static/learn/fonts/F37-Neue-Grotesque.ttf')  format('truetype'),
         url('/learn/static/learn/fonts/F37-Neue-Grotesque.svg') format('svg');
}