//colours
$orange: #f79434;
$red: #f04e23;
$main: #00b6ae;
$blue: #0071bc;

//menu hover color
$menu: $orange;

//font sizes
$max_text: 4em;
$large_text: 1.8em;
$medium_text: 1.2em;
$small_text: .95em;

//font
$main_font: 'F37-Neue-Grotesque', Arial, Helvetica, sans-serif;

//dimensions
$header_height: 3.5em;
$sidebar_width: 18.5em;
$column_space: 3em;
$main_padding: 3em;

//transitions
$sidebar_speed: 300ms;