<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/learn/static/learn/scss/all.css">
    <link rel="stylesheet" href="/learn/static/learn/scss/style.css">
    <script src="/learn/static/learn/index.js"></script>
</head>
<body>

    <!--Nav Bar-->
    <nav class="flex flex-ai-c padding-lr">
        <i class="fas fa-bars"></i>
        <a href="#"><i class="fas fa-home"></i></a>
        <a class="marg-l-auto" href="#">Register</a>
        <a href="#">Login</a>
        <a href="#">Logout</a>
    </nav>
    <!--Side Bar-->

    <aside class="sidebar sidebar_closed">
        <div class="close_btn">
            <i class="far fa-times-circle"></i>
        </div>
        <h2>Navigation</h2>
        <div class="rule"></div>
        <div class="side_links">

            <div class="chapter">
                <a href="#">Chapter 1</a> <span class="chap_btn"><i class="far fa-plus-square"></i><i class="far fa-minus-square hidden"></i></span>
                <div class="subchapter">
                    <a class="sub_link" href="#">Getting acquainted with your guitar</a>
                    <a class="sub_link" href="#">Holding your guitar</a>
                    <a class="sub_link" href="#">Holding The Plectrum</a>
                    <a class="sub_link" href="#">Plucking The Strings</a>
                    <a class="sub_link" href="#">Fretting A Note</a> 
                    <a class="sub_link" href="#">Tablature</a>
                </div>
            </div>
            <div class="chapter">
                <a href="#">Chapter 2</a><span class="chap_btn"><i class="chap_btn far fa-plus-square"></i><i class="chap_btn far fa-minus-square hidden"></i></span>
                <div class="subchapter">     
                    <a class="sub_link" href="#">Takin’ It Easy</a>
                    <a class="sub_link" href="#">Etude with Attitude</a>
                    <a class="sub_link" href="#">Introduction to Chords</a>
                    <a class="sub_link" href="#">Practice Makes Perfect</a>
                </div>
            </div>
            <div class="chapter">
                <a href="#">Chapter 3</a><span class="chap_btn"><i class="chap_btn far fa-plus-square"></i><i class="chap_btn far fa-minus-square hidden"></i></span>
                <div class="subchapter">     
                    <a class="sub_link" href="#">Exercise 1</a>
                    <a class="sub_link" href="#">Funk & Disorderly</a>
                    <a class="sub_link" href="#">Popping Out</a>
                    <a class="sub_link" href="#">I Got Rhythm</a>
                    <a class="sub_link" href="#">Chords: C, Am</a>
                    <a class="sub_link" href="#">Track 9</a>
                </div>
            </div>
            <div class="chapter">
                <a href="#">Chapter 4</a><span class="chap_btn"><i class="chap_btn far fa-plus-square"></i><i class="chap_btn far fa-minus-square hidden"></i></span>
                <div class="subchapter">     
                    <a class="sub_link" href="#">Exercise 2</a>
                    <a class="sub_link" href="#">Hip-Hop-Opotamus</a>
                    <a class="sub_link" href="#">Cobain Of My Life</a>
                    <a class="sub_link" href="#">Chords: Em, Am7</a>
                    <a class="sub_link" href="#">Track 13</a>
                </div>
            </div>
            
        </div>
    </aside>

    <!--export to index.html-->
   
    <div class="index page_container">
        <div class="hero_container">
            <div class="hero padding-lr flex flex-jc-sb flex-ai-e">
                <img src="/learn/static/learn/images/hero left.png" alt="guitar">
                <div class="title flex flex-ai-c"><h1>ANYONE CAN LEARN TO PLAY GUITAR</h1></div>
                <img src="/learn/static/learn/images/heroright1.png" alt="guitar">
                <img class="temp" src="/learn/static/learn/images/gt3.png" alt="guitar">
            </div>
        </div>

    <article class="preramble padding-lr">

        <h2>Pre(r)amble</h2>
        <div class="rule"></div>
        <h3 class="reduce">Throughout my years of teaching I’ve taught hundreds of students and I’ve heard the phrase “I’m not musical” hundreds of times, so chances are a lot of you feel this way too. Natural ability is
        a fascinating topic and I have given a lot of thought to the question ‘nature vs nurture’ when assessing the progress of my students. Are some people born musical? Do you either have it or not?
        </h3>

        <div class="desk-flex">
            <section>
                <h3>Are You Musical?</h3>
                <p>
                    A friend of mine has a dog which 
                    will, every now and then, sit still 
                    and point at a bush with its paw. 
                    It’s a Pointer, a breed of dog originally bred to point out game for hunters. Astonishingly the dog was never taught to do this, the skill was bred into him. Sorry to compare you to 
                    a dog, but I’d like to make the point that if you come from a musical family then some of their musical ability 
                    is likely to be passed down to you genetically. Being exposed to music 
                    a lot (especially as a child) will certainly affect your musical ability too. Often this is mistaken for aptitude but it isn’t - just listening to music 
                    is a form of learning. 
                    
                </p>
                <p>
                    But none of that is important. 
                    Don’t dwell on it. Yes, some can 
                    work out how to play London’s Burning without being taught, 
                    and some can’t. It simply doesn’t matter. Some people are given a little head start, but everyone can learn everything they need to know about music from scratch - and what’s more, it will be fun and easy. Anyone can learn to be musical but it is hugely dependent on attitude.            
                </p>
            </section>
            <section>
                <h3>Attitude</h3>
                <p>
                    Learning the guitar can be, to some, 
                    a daunting task, but it needn’t be. 
                    In fact, it’s really important to your success that you don’t think of it 
                    as such. Here’s why:
                    
                </p>
                <p>
                    When it comes to learning an instrument, people who don’t believe they are musical tend to give up easily. When they find a particular task difficult they often mistake this 
                    as evidence that they are, indeed, 
                    not musical. And because they don’t imagine they are capable of getting very far, they don’t put in as much effort as they can because it feels 
                    like it’s probably a waste of energy. 

                </p>
                <p>
                    Compare this to people who do consider themselves musical (or capable of learning to be). They 
                    tend to put a lot of effort into the task because they are focusing on the end result. Learning an instrument is made up of many, many tiny achievements, so celebrate these achievements. 
                    No matter how small they are, they add up. I strongly encourage you to adopt this mindset; it’s a simple thing to do and it makes all the difference.

                </p>

            </div>
        </section>
        <div class="rule"></div>
    </article>
    <main>
        
    </main>

    <!--end export-->
 
</div>
</body>
</html>